flake8==3.3.0
apscheduler>=3.3.0
requests>=2.0.0,<3.0.0
bs4~=0.0.1
pip~=21.2.3
wheel~=0.34.2
tornado~=6.1
setuptools~=57.4.0
beautifulsoup4~=4.9.3
aiohttp~=3.7.4.post0
cchardet
lxml~=4.6.3
discord~=1.7.3
aiocron~=1.7
nest-asyncio
pytz~=2019.3